

<div class="message-container">
    <div class="message-box">
      <% Post.all.reverse.first(20).each do |m|  %>
      <a href = "/users/<%= m.user_id%>"> <%= m.user_id %> </a> 
      <div class="message-title">
      <p><%= m.title %></p>
      <div class="message-content">
      <p><%= m.content %></p>
    </div>
  </div>
      <% end %>
