<!-- <div class="home-image"> -->
<% if session[:user] %>
 <h2>Welcome back <%= session[:user].firstname %></h2>
<% else %>
<h2>Hello</h2>
<% end %>
<% if session[:user].nil? %>
<a href="/signup">Click here to create an account</a> - <a href="/login">Log in</a>
<% end %>
<!--
<div class="image1"><img src="images/backpacker.jpeg"></div><br><h1>JOE'S<br> BACKPACKEr</h1>
</div>
  -->
