
<h2>Log In to your account!</h2>
<p>
  Travel the places you love.
  RE-Discover the places on a shoestring budget.
  <a href='/signup'>HERE</a>
</p>
<form class="" action="/login" method="POST">

  <input type='email' name="email" placeholder="email"><br>
  <input type='password' name="password" placeholder="password"><br>
   <input type="submit" name="" value="LOG IN">

</form>
