<div class="Profile">
<h2>Profile</h2>
<br>
 NAME:
 <%= session[:user].firstname %>
 <%= session[:user].lastname %><br>
<br>
BIRTHDAY:
<%= session[:user].birthday %><br>
EMAIL:
<%= session[:user].email %><br>
</div>
