<form class="account-form" action="/delete" method="post">
  <h5>Delete account</h5>
  <p>
    Deleting your account is an <span style="color:red">irreversible</span> action.  It cannot be undone and is pernanent.<br>
    If you are sure you would like to do this please enter your e-mail and password.
  <input type="submit"  value="Delete account">
</form>
