<form class="account-form" action="/delete" method="post">
  <h5>Delete account</h5>
  <p>
    Deleting your account is an <span style="color:red">irreversible</span> action.  It CANNOT be UNDONE and is <span style="color:red">pernanent.</span> 
  <input type="submit"  value="Delete account">
</form>
