<div class="unknown">

    <div class="error-page">
        <div class="error-page-container">
            <h5>404</h5>
            <p>Ooops ! Something Wrong</p>
            <h4>or</h4>
            <a href="login">Log In</a>
            <a href="signup">Sign up</a>
        </div>
    </div>

</div>
