/* body
=================================   */

body {
  background-color: #8A0651;
  color: #ffcb04;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.7), black), url("images/background.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no repeat;
  background-size: cover;
}

#background {
   background-image: url("background.jpeg");
   width: 100%;
   position: left;
   height: 50%
}

a {
  color: #fff;
}

a:visited {
  color: #fff;
}



.wrap {
  width: 350px;
  margin: auto;
  background: #00dee;
  margin-top: 50px;
  padding: 5px;
}

.form {
  padding: 10px;
  font-family: arial;
  border: 1px dotted white;
}

p {
  font-family: arial;
}

h1 {
  font-family: arial;
  padding: 25px;
  margin: 15px 0px 15px 556px;
}

h2 {
  text-align: center;
  background: orange;
  color: white;
  padding: 10px;
  border-radius: 10 px;
}

h3 {
  margin-top: 2%;
}

button {
  color: blue;
  padding: 2px;
  margin: 2px;
}


input {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

input[type=text], input[type=email], input[type=number], input [type=password] {
  90%
}

input[type=submit] {
  width: 95%;
  background: orange;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

input[type=submit] :hover {
  background: yellow;
}

select {
  padding: 10px;
  width: 32%;
  border-radius: 5px;
}

/* Navigation section
================================= */

#navbar ul {
  padding: 5px;
  list-style-type: center;
  text-align: center;
  background-color: none;
  margin: 10px;
  border-radius: 5px;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  font-family: Arial;
  padding: .2em 1em;
  color: #fff;
  background-color: none;
}

#navbar ul li a:hover {
  color: none;
  background-color: #424242;
}


/* Images
=================================   */

/* Images
================================= */

.image1 {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  height: 200px;
  width: auto;
}

.home-image {
  width: 100px;
  height: 100px;
  margin: -50px;
  padding: 0px;
}

/* Post
================================= */
.username .caption {
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #444;
  }

.controls-container {
    display: table;
    width: 100%;
    padding: 10px 15px 10px 20px;
    box-sizing: border-box;
  }

  title-field  {
      font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
      font-weight: 400;
      font-size: 36px;
      line-height: 47px;
  }

  .login-form {
    display: flex;
    flex-direction: column; }
    .login-form > * {
      padding: 1000px; }
    .login-form span input {
      width: 100%; }
    .login-form .user-info-btn {
      width: 40%;
      margin: 15px auto; }

      iv.picture1 {
         width:100px; /*width of your image*/
         height:100px; /*height of your image*/
         background-image:url('images/backpackers.jpeg');
         margin:0; /* If you want no margin */
         padding:0; /*if your want to padding */
      }
