/* Body
================================= */

body {
  background-color: #8A0651;
  color: #ffcb04;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.7), black), url("images/background.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no repeat;
  background-size: cover;
}

#background {
   background-image: url("background.jpeg");
   width: 100%;
   position: left;
   height: 50%
}

a {
  color: #fff;
}

a:visited {
  color: #fff;
}



.wrap {
  width: 350px;
  margin: auto;
  background: #00dee;
  margin-top: 50px;
  padding: 5px;
}

.form {
  padding: 10px;
  font-family: arial;
  border: 1px dotted white;
}

p {
  font-family: arial;
}

h1 {
  font-family: arial;
  padding: 25px;
  margin: 15px 0px 15px 556px;
}

h2 {
  text-align: center;
  background: orange;
  color: white;
  padding: 10px;
  border-radius: 10 px;
}

button {
  color: blue;
  padding: 2px;
  margin: 2px;
}


input {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

input[type=text], input[type=email], input[type=number], input [type=password] {
  90%
}

input[type=submit] {
  width: 95%;
  background: orange;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

input[type=submit] :hover {
  background: yellow;
}

select {
  padding: 10px;
  width: 32%;
  border-radius: 5px;
}

/* Navigation section
================================= */

#navbar ul {
  padding: 5px;
  list-style-type: center;
  text-align: center;
  background-color: none;
  margin: 10px;
  border-radius: 5px;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  font-family: Arial;
  padding: .2em 1em;
  color: #fff;
  background-color: none;
}

#navbar ul li a:hover {
  color: none;
  background-color: #424242;
}


/* Images
=================================   */

/* Images
================================= */

.image1 {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  height: 200px;
  width: auto;
}

.home-image {
  width: 100px;
  height: 100px;
  margin: -50px;
  padding: 0px;
}
element.style {
    margin-top: -201px;
}
